[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gofcat"]
	path = gofcat
	url = https://github.com/ejikeugba/gofcat
[submodule "serp"]
	path = serp
	url = https://github.com/ejikeugba/serp
